<nb-layout>

  <nb-layout-header fixed style="background-color: rgb(101, 75, 143);">


    <a style="color: white;" [routerLink]="['/curso']" routerLinkActive="router-link-active" >Menu</a>
    <a class="home" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>

    <nb-search  type="rotate-layout" >Pesquisa</nb-search>
    <!-- <button nbButton shape="round" size="small" status="success">Round Small</button> -->
    <!-- <button  nbButton (click)="criar()"style="position:absolute" size="medium">medium</button> -->
  </nb-layout-header>
  
  <nb-layout-column class="colored-column-basic">
    
    <!-- <p *ngIf="!ativo">nada a vê irmao</p> -->
    <!-- <p *ngIf="ativo" >tudo a ver irmao</p> -->

    <br>

    <!-- <input type="text" (keyup)="key($event)" (keyup.enter)="salvarCampo(campoInput.value)" #campoInput> -->
    <router-outlet></router-outlet> 
    

  </nb-layout-column>

  <nb-layout-footer fixed>
    <p>Desenvolvido por © Joao Pedro Peraro</p>
  </nb-layout-footer>
  
</nb-layout>
